@import "../../colors";
.slider {
    position: relative;


    &__control {
        width: 35px;
        height: 35px;
        display: inline-block;
        border: 2px solid @grey_light;
        border-bottom: transparent;
        border-right: transparent;
        opacity: 0.5;
        transform: rotate(316deg);
        position: absolute;
        top: 215px;
        left: -5%;

        @media (max-width: 1113px) {
            left: 6%;
        }

        &_right {
            left: 100%;
            transform: rotate(135deg);

            @media (max-width: 1113px) {
                left: 91%;
            }
        }

        &:hover {
            opacity: 0.8;
            transition: 0.3s;
        }

        &:active {
            opacity: 0.2;
        }
    }
}
