@import '../variables';
@import '../colors';
@import '../common';

.page-title-inner {
    background: url('../img/back-desktop.jpg') no-repeat center top, rgba(0, 0, 0, 0.3);
    background-size: cover;
    padding: 180px 0 100px;

    @media (max-width: @screen_tablet) {
        background: url('../img/back-tablet.jpg') no-repeat center top, @grey_dark;
        background-size: cover;
    }

    @media (max-width: @screen_mobile) {
        background-image: url('../img/back-mobile.jpg');
        background-size: cover;
        padding: 128px 0 64px;
    }

    &__heading {
        margin: 0 auto;
        text-align: center;
        max-width: 400px;
    }
}
